@charset "utf-8";
@font-face{src: url(../fonts/Gong\ Gothic\ Medium.ttf); font-family: '공체';}
*{box-sizing: border-box; font-family: '공체','Oswald', sans-serif;}
body{font-size: 16px; background-color: antiquewhite;;}
a{display: block; text-align: center; }
img{max-width: 100%; max-height: 100%;}
h2{font-weight: bold; text-transform: uppercase; font-size: 30px; text-align: center;}
/* IDs: */
#wrap>div{width: 100%; height: 100%; padding: 2rem; margin-bottom: 1rem;}

/* COMMON: */
/* color:#8ba969/color:#a2c67a/color:#b9e18c/YYellowcolor:#e9dca6/yellowcolor:#e7e3d9/blackcolor:#525252 */
.container{width: 100%; margin: 0 auto; height: 100vh; display: flex;}
.hidden{display: block; text-indent: -9999px; font-size: 0;}
.title-box{width: 80%; height: 3rem; padding: 5px; margin: 2rem auto; box-shadow: 2px 2px 2px gainsboro; line-height: 40px;}
/* SKIP: */
#skip{position: absolute; background-color: black; padding: 0; font-size: 0; z-index: 99999;}
#skip ul li a{ font-size: 0; text-align: center; color: white;}
#skip ul li a:focus{font-size: 16px; padding: 14px;}
/* HEADER: */
/* .knob{margin: 100px 20px; position: absolute; top: 35%; left: 10%;}
.knob i{font-size: 25px; color: snow;}
.knob:hover header{width: 20%; background-color: #444; box-shadow: 0 4px 4px #222; }
.knob:hover header ul li a{display: none;} */

input#menuicon{display: none;}
input#menuicon +label{display: block; margin: .5rem; width: 40px; height: 30px; position: fixed; cursor: pointer; top: 50%; left: 1%; z-index: 9;}
input#menuicon +label.scroll-berger{position: fixed; left: 0%; transition: .4s;}
input#menuicon + label span{display: block; position: absolute; width: 100%; height: 5px; border-radius: 30px; background-color: #e7ded7; transition: .4s; }
input#menuicon + label span:nth-child(1){top: 0}
input#menuicon + label span:nth-child(2){top: 50%; transform: translateY(-50%);}
input#menuicon + label span:nth-child(3){bottom: 0;}
input#menuicon + label i{display: block; position: absolute;} 
input#menuicon:checked + label{z-index: 6;}
input#menuicon:checked + label i{display: none;}
input#menuicon:checked + label span{background-color: #e7ded7; display: block;}
input#menuicon:checked + label span:nth-child(1){top: 50%; transform: translateY(-50%) rotate(45deg);}
input#menuicon:checked + label span:nth-child(2){opacity: 0;}
input#menuicon:checked + label span:nth-child(3){bottom: 50%; transform: translateY(50%) rotate(-45deg);}
input#menuicon:checked + label + header{left: 0;}
header{position: fixed; top: 0; bottom: 0; left: -220px; background: rgba(190, 164, 139, .6); width: 300px; height: 100%;  display: flex; flex-direction: column; justify-content: space-between; transition: .5s; padding-right: 100px; }
header .index{display: block; position: relative; top: -20%;}
header .index ul{padding: 1rem;}
header .index ul li{font-size: 30px; text-align: center;  margin: 0.5rem;}
header .index ul li a{color: #444; display: block;}
header .shortcuts ul{display: flex; margin: 2rem;}
header .shortcuts ul li{margin: 5px auto; width: 30px; height: 30px; }
header .shortcuts ul li a{}
header .shortcuts ul li a img{}
header .shortcuts ul li a i{font-size: 30px; box-sizing: border-box;}
header .shortcuts ul li a .fa-line{color: limegreen;}
header .shortcuts ul li a .fa-envelope{color: tomato;}
/* scroll시 */
.scrollheader{position: fixed; top: 0; bottom: 0; left: -240px; background: #bea48b; width: 300px; height: 100%; z-index: 1; display: flex; flex-direction: column; justify-content: space-between; transition: .5s; box-shadow: 0 5px 5px #444;}

/* FIXED-PATH: */
.fixed-path{display: block; position: fixed; top: 70%; right: 0; z-index: 9; width: 40px; height: 100%; margin: 5px;}
.fixed-path ul{display: flex; flex-direction: column; margin: 5px;}
.fixed-path ul::after{content: ''; background-color: saddlebrown; width: 5px; height: auto; position: absolute;  top: 50%; z-index: -1;}
.fixed-path ul li{width: 20px; height: 20px; border-radius: 100%; border: none; background: rgba(255,255,255,.4); box-shadow: inset -1px -2px 0 0 lightblue; margin-bottom: 1rem; cursor: pointer;}
.fixed-path ul li:hover{background-color: gold;}
.fixed-path ul li.entrance{}
.fixed-path ul li.entrance::after{content: '';}
.fixed-path ul li.project-room{}
.fixed-path ul li.livingroom{}
.fixed-path ul li.study-room{}
.fixed-path ul li.telephone-corridor{}
.fixed-path ul li a{display: block;}

/* SLIDE1: */
.topgate{position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 50%; background-color:  : entrance-h 4s infinite;}
.rightgate{position: absolute; left: 0; top: 0; bottom: 0; width: ; background-color: ; animation: entrance-w;}
.bottomgate{position: absolute;}
@keyframes entrance-h {
    from{height: 40%;}
    50%{height: 25%;}
    to{height: 0; display: none;}
}

#slide1{background: url('https://www.reviewgeek.com/p/uploads/2020/05/96ec61be.png') no-repeat center center/cover;}
.ribbon{border-top: 5px outset rgb(152, 122, 223); border-bottom: snow 3px outset; position: absolute; top: 40%; left: 0%; right: 0%; background: rgba(0,0,0,.1);  width: 50%; padding: 2rem; margin: 0 auto; z-index: 1;}
.ribbon h1{font-size: 2.5rem; text-align: center; color: snow; text-shadow: 5px 5px 5px #444;}
#slide1 .container{}
#slide1 .container .title-box{position: relative; padding: 20px; box-shadow: 5px 5px 20px rgba(0, 0, 0, .6);  width: 80%; height: 80%; margin: 5% auto; }
/* PROFILE: */
.profile{width: 500px; height: 500px; position: absolute; top: 0; margin: 5rem auto; box-shadow: 10px 6px 10px black; display: none;}
/* .tile{width: 100px; height: 100px; opacity: .8;}
.tile:hover{}
.tile1{background: rgba(255, 255, 255, .8); float: left; box-shadow: 5ps 5px 5px black inset;}
.tile2{background-color: lightyellow; float: left;}
.tile3{background-color: lightpink; float: left;}
.tile4{background-color: lightgreen; float: left; }
.tile5{background: rgba(255, 255, 255, .7); float: left;}
.tile6{background-color: lightblue; float: left;}
.tile7{background-color: sandybrown; float: left;}
.tile8{background-color: yellowgreen; float: left;}
.tile9{background-color: white; float: left;}
.tile10{background-color: turquoise; float: left; }
.tile11{background-color: lightsalmon; float: left;}
.tile12{background-color: linen; float: left;}
.tile13{background-color: whitesmoke; float: left;}
.tile14{background-color: salmon; float: left;}
.tile15{background-color: firebrick; float: left;}
.tile16{background-color: snow; float: left;}
.tile17{background-color: snow; float: left;}
.tile18{background-color: tomato; float: left; }
.tile19{background-color: burlywood; float: left;}
.tile20{background-color: hotpink; float: left;}
.tile21{background-color: wheat; float: left;}
.tile22{background-color: honeydew; float: left;}
.tile23{background-color: snow; float: left;}
.tile24{background-color: forestgreen; float: left;}
.tile25{background-color: crimson; float: left;} */
.scroll-down{border-radius: 6px; background: rgba(255, 255, 255, .8); width: 100px; height: 31px; text-align: center; position: absolute; bottom: 10%; left: 50%; line-height: 25px; padding: 5px; font-size: 14px;}
.scroll-down::before{content: ''; background: rgba(34, 34, 34, 0.4); width: 4px; height: 80px; position: absolute; top: 55px; left: 50%;}
.scroll-down::after{content: ''; background-color: black; width: 4px; height: 24px; position: absolute; top: 31px; left: 50%;}
/* SLIDE2: */
#slide2{}
#slide2 .contents{margin: 5rem auto;}
#slide2 .contents .portrait{text-align: center; box-shadow: 4px 0 4px #666; padding: 2rem 1rem 1rem 1rem;
border-radius: 3rem 3rem 3rem 3rem; width: 60%; margin: 0 auto; background: rgba(204, 218, 235, .8);}
#slide2 .contents .portrait>div{width: 250px; height: 200px; background: url('../img/포폴셀피2.png') no-repeat center center/cover; margin-right: 2rem; display: inline-block;  position: relative; margin-bottom: 2rem;}
#slide2 .contents .portrait>div::before{content: ''; position: absolute; border: 4px solid bisque; width: 250px; height: 201px;  top: 10px; left: 18px;}
.portrait strong{display: block;}
#slide2 .contents h3{text-align: center; display: inline-block;font-size: 28px; margin-left: 3rem;}
#slide2 .whatbenefitswhenworkwithme{margin-top: 2rem; padding: 2rem; background-color: bisque; box-shadow: 8px 6px 8px #888; border-radius: 8rem 0 8rem 0;}
#slide2 .whatbenefitswhenworkwithme h4{font-size: 24px; text-align: center; margin-bottom: 1rem;}
#slide2 .whatbenefitswhenworkwithme ul{display: flex; justify-content: space-evenly; }
#slide2 .whatbenefitswhenworkwithme ul li{background: linear-gradient(lightyellow,lightblue); border-radius: 100%; width: 250px; height: 250px; text-align: center; padding-top: 20px; margin: 10px; box-shadow: 5px 5px 10px #888;}
#slide2 .whatbenefitswhenworkwithme ul li strong{font-size: 25px; margin: 2rem; display: block;}
#slide2 .whatbenefitswhenworkwithme ul li a{}
/* SLIDE3: */
#slide3{}
#slide3 h3{text-align: center; font-size: 30px; text-decoration: underline #888 solid; margin-bottom: 2rem;}
#slide3 .contents{}
#slide3 .skills{margin: 0 auto; display: inline-block; border-right: 3px solid #888; padding: 2rem; width: 50%; float: left;}
#slide3 .tools{margin: 0 auto; width: 50%; padding: 2rem; display: inline-block;}
#slide3 .tools ul{text-align: center;}
#slide3 .tools ul li{padding: 1rem; text-align: center; display: inline-block;}
#slide3 .tools ul li img{width: 30px; height: 30px;}
#slide3 .tools ul li span{display: block; text-align: center;}
#slide3 .skill-name{margin: 0 1rem; font-weight: bold; text-align: center;}
.skill-name img{width: 25px; height: 25px; margin-right: 1rem;}
.skill-name i{font-size: 25px; margin: 0 auto;}
i.fa-html5{color: orange;}
i.fa-css3-alt{color: blue;}
i.fa-sass{color: palevioletred;}
i.fa-js-square{color: gold;}
i.fa-vuejs{color:forestgreen;}
i.fa-react{color: skyblue;}
.skill{display: flex; justify-content: space-between; margin: 2rem auto;}

.progress{position: relative; width: 40rem; height: 30px; border: 1px solid gainsboro; border-radius: 6px; box-sizing: border-box;}
.progress .bar{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: linear-gradient(90deg,lavender,skyblue,lightcyan); width:0}
.progress .stats{position: absolute; top: 0; right: 15px; bottom: 0; font-size: 1.1rem; line-height: 30px; color: black;}

/* SLIDE4: */
#slide4{display: flex; flex-direction: column;}
#slide4 ul{display: flex; justify-content: center; width: 700px; flex-wrap: wrap; margin: 0 auto;}
#slide4 ul li{width: 200px; height: 200px; overflow: hidden; margin: 10px; box-shadow: 5px 5px 5px #666; position: relative; }
#slide4 ul li::before{content: ''; position: absolute; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.4); width: 200px; height: 200px; display: none; transition: .8s;}
#slide4 ul li:hover::before{display: block;}
#slide4 ul li a{width: 200px; height: 200px;}
#slide4 ul li span{position: absolute; top: 0; left: 0; display: none; color: #fff; transform: translatey(-50%); width: 100%; font-size: 18px; text-align: center; background-color: skyblue; z-index: 3;}
#slide4 ul li:nth-child(2n-1){background-color: #bea48b;}
#slide4 ul li:nth-child(2n-1) a{display: block; color: #e7ded7;}
#slide4 ul li:nth-child(2n){width: 200px; height: 200px; background-color: #e7ded7;  border: 10px solid snow;}
#slide4 ul li:nth-child(2n) a{color: #bea48b; display: block;}
#slide4 ul li:nth-child(4n){background-color: #e5e6ea;}


 .selected-stories .container .stories-body{
    width: 100%; 
    height: 600px;
    position: relative;
}
 .selected-stories .container .stories-body .contents{
    width: 22%;
    height: auto;
    float: left;
    background: #fff;
    position: absolute;
    transition: 1s;
    box-shadow: 0 0 5px #d0d0d0;
}
 .selected-stories .container .stories-body .contents .con-img{width: 100%; height: 400px; overflow: hidden;}
 .selected-stories .container .stories-body .contents .con-img img{width: 100%; height: 100%;}
 .selected-stories .container .stories-body .contents .con-txt{padding: 10px 15px; position: relative;}
 .selected-stories .container .stories-body .contents .con-txt a{text-transform: uppercase; font-weight: bold; color:#333; font-size: 80%;}
 .selected-stories .container .stories-body .contents .con-txt a:hover{text-decoration: none;}
 .selected-stories .container .stories-body .contents .con-txt dl{margin-top: 20px;}
 .selected-stories .container .stories-body .contents .con-txt dl dt{padding-bottom: 15px;}
 .selected-stories .container .stories-body .contents .con-txt dl dt a{
    color: #000;
    font-size: 120%;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 2px solid #9dd9c5;
    text-decoration: none;
}
 .selected-stories .container .stories-body .contents .con-txt dl dd{
    font-size: 90%;
    line-height: 100%;
    padding-bottom: 30px;
}
 .selected-stories .container .stories-body .col1{
    left: 50%;
    top: 100px;
    transform: scale(1);
    z-index: 1;
    margin-left: -11%;
}
 .selected-stories .container .stories-body .col2{
    left: 10%;
    top: 50px;
    transform: scale(.9);
    opacity: .5;
}
 .selected-stories .container .stories-body .col3{
    left: 50%;
    top: 10px;
    transform: scale(.8);
    opacity: .1;
    margin-left: -11%;
}
 .selected-stories .container .stories-body .col4{
    left: 68%;
    top: 50px;
    transform: scale(.9);
    opacity: .5;
}
.content-btn>a{
    position: absolute;
    color: #333;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}
.content-btn .prev{top: 40%; left: 5%}
.content-btn .next{top: 40%; right: 5%}


.selected-stories .container .stories-body{
    width: 100%; 
    height: 600px;
    position: relative;
}
.selected-stories .container .stories-body .contents{
    width: 22%;
    height: auto;
    float: left;
    background: #fff;
    position: absolute;
    transition: transform 1s;
    box-shadow: 0 0 5px #d0d0d0;
}
.selected-stories .container .stories-body .contents .con-img{width: 100%;}
 .selected-stories .container .stories-body .contents .con-img img{width: 100%}
 .selected-stories .container .stories-body .contents .con-txt{padding: 10px 15px; position: relative;}
 .selected-stories .container .stories-body .contents .con-txt a{text-transform: uppercase; font-weight: bold; color:#333; font-size: 80%;}
 .selected-stories .container .stories-body .contents .con-txt a:hover{text-decoration: none;}
 .selected-stories .container .stories-body .contents .con-txt dl{margin-top: 20px;}
 .selected-stories .container .stories-body .contents .con-txt dl dt{padding-bottom: 15px;}
 .selected-stories .container .stories-body .contents .con-txt dl dt a{
    color: #000;
    font-size: 120%;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 2px solid #9dd9c5;
    text-decoration: none;
}
 .selected-stories .container .stories-body .contents .con-txt dl dd{
    font-size: 90%;
    line-height: 100%;
    padding-bottom: 30px;
}
 .selected-stories .container .stories-body .col1{
    left: 50%;
    top: 100px;
    transform: scale(1);
    z-index: 1;
    margin-left: -11%;
}
 .selected-stories .container .stories-body .col2{
    left: 10%;
    top: 50px;
    transform: scale(.9);
    opacity: .5;
}
 .selected-stories .container .stories-body .col3{
    left: 50%;
    top: 10px;
    transform: scale(.8);
    opacity: .1;
    margin-left: -11%;
}
 .selected-stories .container .stories-body .col4{
    left: 68%;
    top: 50px;
    transform: scale(.9);
    opacity: .5;
}
.content-btn>a{
    position: absolute;
    color: #333;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

/* CONTACT: */

/* SLIDE5: */
#slide5{}
.bestregards{display: flex; justify-content: space-around;}
.bestregards .greeting{border-right: 1px solid grey; padding: 5rem; width: 50%;}
.bestregards .greeting h4{font-size: 20px; font-weight: bold; margin-bottom: 8px;}
.bestregards .greeting p{}
.bestregards .sns{padding: 3rem; width: 50%;}
.bestregards .sns ul{}
.bestregards .sns ul li{margin: 2rem; display: inline-block; text-transform: uppercase; transition: .4s;}
.bestregards .sns ul li:hover .fa-line{color: limegreen;}
.bestregards .sns ul li:hover .fa-envelope{color: tomato;}
.bestregards .sns ul li:hover .fa-github{color:slateblue;}
.bestregards .sns ul li a{display: flex; flex-direction: column; width: 50px; height: 50px;     text-align: center;}
.bestregards .sns ul li a i{font-size: 58px; line-height: 49px;}
#slide5 button{width: 120px; height: 44px; padding: 5px 12px; margin: 20px auto; background-color: #fff; color: #333; font-size: 15px; border: 1px solid black; border-radius: 6px; box-sizing: border-box; transition: .3s; cursor: pointer; display: block;}
#slide5 button:hover{background-color: black; color: white;}
/* FOOTER: */
footer{border-top: 3px ridge lightyellow; padding-top: 2rem;}
footer address{text-align: center;}
/* TOTHETOP: */
.to-the-top{background: white; position: fixed; bottom: 5%; right: 5%; width: 50px; height: 50px; border: 1px solid grey; text-align: center;}
.to-the-top a{display: block; width: 100%; height: 100%; text-align: center;}
.to-the-top a i{font-size: 15px; position: absolute; top: 30%; left: 0; right: 0; bottom: 0;}
/* KEYFRAMES: */
/* @keyframes jumping {
  
} */